/* Body设置 */
/* #ifdef APP-PLUS */
html{
	min-height: 100vh;
	background-color: #292F42;
	padding-top: 128rpx;
	box-sizing: border-box;
}
body{
	padding-bottom: 100rpx;
}
/* #endif */

/* #ifdef H5 */
uni-page-body{
	min-height: 100vh;
	background-color: #292F42;
	padding-top: 128rpx;
	box-sizing: border-box;
}
/* #endif */

image{
	flex-shrink: 0;
}

/* 容器设置 */
.container{
	padding: 30rpx;
}
.form-wrap{
	background-color: #222636;
	box-shadow:0px 8px 8px 0px rgba(0,0,0,0.05);
}
.form-wrap-top{
	height: 148rpx;
	background: url('/static/images/icon15.png') bottom repeat-x;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30rpx;
	&::before{
		content: "";
		display: block;
		width: 40rpx;
		height: 40rpx;
		border-radius: 50%;
		background-color: #292F42;
		position: absolute;
		left: -20rpx;
		bottom: -20rpx;
	}
	&::after{
		content: "";
		display: block;
		width: 40rpx;
		height: 40rpx;
		border-radius: 50%;
		background-color: #292F42;
		position: absolute;
		right: -20rpx;
		bottom: -20rpx;
	}
	.left{
		color: #C4C4C9;
		font-size: 28rpx;
	}
	.right{
		color: #0FABDA;
		font-size: 56rpx;
	}
}
.form-wrap-bot{
	padding: 50rpx 30rpx 40rpx;
	position: relative;
	overflow: hidden;
	&::before{
		content: "";
		display: block;
		width: 40rpx;
		height: 40rpx;
		border-radius: 50%;
		background-color: #292F42;
		position: absolute;
		top: -20rpx;
		left: -20rpx;
	}
	&::after{
		content: "";
		display: block;
		width: 40rpx;
		height: 40rpx;
		border-radius: 50%;
		background-color: #292F42;
		position: absolute;
		top: -20rpx;
		right: -20rpx;
	}
}

/* form设置 */
.form-item{
	margin-bottom: 20rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	input{
		height: 92rpx;
		line-height: 92rpx;
		background-color: #292F42;
		border-radius: 8rpx;
		border: none;
		padding: 0 20rpx;
		flex: 1;
		color: #FFFFFF;
	}
	.input-placeholder{
		color: #C5C6CA;
		font-size: 28rpx;
	}
	label{
		color: #C4C4C9;
		font-size: 28rpx;
		margin-right: 20rpx;
	}
	.password{
		width: 60rpx;
		height: 60rpx;
		background: url(/static/images/icon16.png) no-repeat;
		background-size: contain;
		position: absolute; 
		top: 20rpx;
		right: 20rpx;
		&.active{
			background: url(/static/images/icon16_1.png) no-repeat;
			background-size: contain;
		}
	}
	.label-yzm{
		height: 100rpx;
		line-height: 100rpx;
		position: absolute;
		right: 20rpx;
		font-size: 28rpx;
		color: #0FABDA;
	}
	.yzm{
		padding-right: 170rpx;
	}
}
.form-submit-wrap{
	margin-top: 40rpx;
}
.form-submit{
	height: 92rpx;
	line-height: 92rpx;
	font-size: 32rpx;
	color: #FFFFFF;
	text-align: center;
	border-radius: 8rpx;
}

/* 线性渐变 */
.gradient-blue{
	background:linear-gradient(135deg,rgba(4,190,217,1) 0%,rgba(98,34,225,1) 100%);
	box-shadow:0px 8rpx 8rpx 0px rgba(0,0,0,0.1);
}
.gradient-green{
	background:linear-gradient(135deg,rgba(30,173,170,1) 0%,rgba(52,214,135,1) 100%);
	box-shadow:0px 8rpx 8rpx 0px rgba(0,0,0,0.1);
}
.gradient-violet{
	background:linear-gradient(135deg,rgba(135,189,250,1) 0%,rgba(140,47,238,1) 100%);
	box-shadow:0px 8rpx 8rpx 0px rgba(0,0,0,0.1);
}

/* 字体设置 */
$fontZ: 72rpx;
$fontA: 60rpx;
$fontB: 56rpx;
$fontC: 52rpx;
$fontD: 48rpx;
$fontE: 44rpx;
$fontF: 40rpx;
$fontG: 36rpx;
$fontH: 32rpx;
$fontI: 28rpx;
$fontJ: 24rpx;
$fontk: 20rpx;

/* 颜色设置 */
$colorA: #FFFFFF;
$colorB: #C4C4C9;
$colorC: #222636;
$colorD: #666666;
$colorE: #999999;
$colorF: #0FABDA;
$colorG: #33D38A;
$colorH: #EDEDED;

